
<div>
    <div>
        <app-mole [active]="activeMoles[1].active"></app-mole>
        <app-mole [active]="activeMoles[2].active"></app-mole>
        <app-mole [active]="activeMoles[3].active"></app-mole>
    </div>
    <div>
        <app-mole [active]="activeMoles[4].active"></app-mole>
        <app-mole [active]="activeMoles[5].active"></app-mole>
        <app-mole [active]="activeMoles[6].active"></app-mole>
    </div>
</div>
<button *ngIf="!gameIsRunning" (click)="startMatch()">{{actionName}}</button>
